body {
    background-image: linear-gradient(106deg, #00c9ff, #ff7a008a);
    height: 649px;
    width: 99%;
}

#container {
    width: 300px;
    height: 535px;
    margin-left: 200px;
    margin-top: 135px;
    background-color: black;
    border-radius: 20px;
    background-image: linear-gradient(347deg, #190c07, #ff0000);
}

#clear-btn {
    margin-top: 22px;
    margin-left: 25px;
    font-size: medium;
    color: rgb(255, 255, 255);
    width: 245px;
    height: 50px;
    background-color: rgb(253, 9, 9);
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: bold;
}

#input-value {
    margin-top: 25px;
    margin-left: 25px;
    width: 245px;
    height: 60px;
    pointer-events: none;
    font-size: larger;
    border-radius: 7px;
    border: none;
    outline: none;
}

.buttons-calc {
    padding-left: 18px;
    padding-bottom: 10px;
    height: 80px;
}

#input-btn {
    margin-top: 22px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    background-color: white;
    font-size: medium;
    color: black;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: bold;
}

#eql-btn {
    margin-top: 22px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    background-color: rgb(64, 231, 18);
    font-size: medium;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: bold;
}